.container {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(5, 1fr);
}

.image-container {
  display: flex;
  flex-wrap: wrap;
}

.img-wrapper {
  border: 2px solid #7289da;
  border-radius: 8px;
}

img {
  max-width: 100%;
  height: auto;
}

.caption {
  padding: 10px;
}